{
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures" : {
      "jsx" : false
    }
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:nuxt/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
