@charset "utf-8";

// Brand colors
$purple: #5a45ff;
$pink: #b4aaff;
$grey-lightest: hsl(0, 0%, 93%) !default;

// Bulma variables
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $control-border-width: 2px,
  $input-shadow: none,
  $primary: $purple,
  $link: $purple,
  $text: black,
  // Customize default container size.
  // see: https://bulma.io/documentation/layout/container/#absolute-maximum-width
  $container-max-width: 1152px,
);

@import "bulma/sass/utilities/_index.scss";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Import custo styles
@import "./app.scss";
@import "./skeleton.scss";
@import "./transition.scss";
@import "./typewriter.scss";
