@charset "utf-8";
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Brand colors
$purple: #5A45FF;
$pink: #b4aaff;
$grey-lightest: hsl(0, 0%, 93%) !default;

// Bulma variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $purple;
$text: black;

@import "../../node_modules/bulma/sass/utilities/_all.sass";

// Customize default container size.
// see: https://bulma.io/documentation/layout/container/#absolute-maximum-width
$container-max-width: $widescreen;

@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/form/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/helpers/_all";
@import "../../node_modules/bulma/sass/layout/_all";

// Import custo styles
@import "./app.scss";
@import "./skeleton.scss";
@import "./transition.scss";
