/* route transitions. see: https://nuxtjs.org/docs/features/transitions/ */

.page-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.05s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
